nav{
    background-color: black;
    width: 100vw;
    height:3rem;
    display: flex;
    align-items: center;

}
.movie-list{
    text-align: center;
}
.profile{
    /* color: white; */
    margin-left: 1rem;
    padding: 8px 10px;
    background-color: rgb(115, 95, 223);
    border-radius: 8px;
    color: white;
   
}
.movie-container{
  padding: 1rem;
  
  
}